.cars {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  height: 88vh;
  overflow-y: scroll;
}
.cars-content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, 1fr)
  );
}
.car {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 3px rgba(47, 51, 58, 0.1);
  background-color: #fff;
}

.car-container {
  display: flex;
  flex-direction: column;
}
.desc {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f1f1f1;
}
.desc h3 {
  flex-shrink: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  word-break: break-all;
  font-weight: 600;
  font-size: 16px;
}
.desc p {
  margin-top: 10px;
  font-size: 14px;
}
.car-color {
  border-radius: 6px;
  padding: 6px 16px;
  min-width: 80px;
  text-align: center;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}

.car-color::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: currentColor;
  opacity: 0.4;
}
.car-img {
  width: 100%;
  height: 170px;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
}
.car-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.8s ease;
}

.car:hover .car-img img {
  transform: scale(1.2);
}
.car-container:hover .desc {
  background: linear-gradient(
    to right,
    #ccffcc 0%,
    #ffcccc 100%
  );
}
