.filter {
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.filter-control {
  margin-bottom: 30px;
  width: 100%;
}
.filter-item {
  display: flex;
  align-items: center;
}
.filter-item .btn {
  width: 20%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-left: 10px;
}
.filter-control p {
  margin-bottom: 15px;
  margin-left: 5px;
  color: #333;
  font-size: 17px;
}
.filter-control select {
  -webkit-appearance: button;
  -moz-appearance: button;
  user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  outline: none;
  border: 1px solid rgb(211, 204, 204);
  border-radius: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  padding: 6px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  background-color: #f1f1f1;
}
