.container {
  display: flex;
}
.filter {
  width: 25%;
}
.cars {
  width: 75%;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 1279px) {
  .cars,
  .filter {
    padding-right: 15px;
    padding-left: 15px;
  }
  .filter {
    padding-right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    flex-direction: column;
  }
  .cars,
  .filter {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .cars-content {
    grid-template-columns: repeat(
      auto-fit,
      minmax(240px, 1fr)
    );
  }
}
