html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
}
body {
  background: #f1f1f1;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
.header {
  height: 10vh;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1877f2;
}
.header h3 a {
  font-size: 1.6rem;
  color: #f1f1f1;
  font-weight: 500;
  text-shadow: 3px 3px 5px #fff;
}
.header ul {
  display: flex;
}
.header ul li {
  margin-left: 20px;
}
.header ul li a {
  padding: 6px 16px;
  font-size: 18px;
  color: #f1f1f1;
  position: relative;
  transition: all ease 3s;
}
.header ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
}
.header ul li a:hover::before {
  width: 100%;
}
